.cartao {
    background-color: #23c21e; 
    border-radius: 15px;      
    padding: 60px;            
    text-align: center;       
    width: 600px;             
    margin: 50px auto;        
   box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

h1 {
    margin-bottom: 10px; 
    font-size: 80px;
}

p {
    margin-top: 5px; 
    color: #0720ac;
    font-size: 60px;   
}
.cartao h1 {
    color: #3d0303;
   
}



